/**
 * --------------------
 * button
 * --------------------
 */

/* base button */
.btn {
  min-width: 6rem;
  padding: 0.5rem;
  color: var(--blue-800);
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    background: var(--indigo-200);
  }

  &:active {
    background: var(--indigo-300);
  }

  &:disabled {
    color: var(--gray-400);
    background-color: var(--gray-300);
    border-color: var(--gray-400);
    cursor: not-allowed;
  }
}

/* link button */
.btn--link {
  min-width: auto;
  color: var(--gray-700);

  &:focus,
  &:hover {
    color: var(--blue-700);
    text-decoration: underline;
    background-color: transparent;
  }

  &:active {
    color: var(--blue-800);
  }
}

/* outlien button */
.btn--outline {
  border-color: var(--blue-800);
}

/* raised button */
.btn--raised {
  color: var(--gray-200);
  background-color: var(--blue-500);
  border-color: var(--blue-600);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

  &:focus,
  &:hover {
    background: var(--blue-600);
  }

  &:active {
    background: var(--blue-700);
    border-color: var(--blue-800);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}

/* danger button */
.btn--danger {
  color: var(--gray-200);
  background-color: var(--red-500);
  border-color: var(--red-600);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

  &:focus,
  &:hover {
    background: var(--red-600);
  }

  &:active {
    background: var(--red-700);
    border-color: var(--red-800);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}
