/**
 * --------------------
 * room
 * --------------------
 */
.room {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  counter-reset: room;
}

.room__counter {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2rem;

  &::before {
    content: counter(room);
    counter-increment: room;
  }
}

.room__stand {
  width: 100%;

  @media (min-width: 640px) {
    width: 50%;
  }
}
