/**
 * --------------------
 * counter
 * --------------------
 */
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: white;
  background: black;
  border-radius: 50%;
}
