/**
 * --------------------
 * stand
 * --------------------
 */
.stand {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--gray-100);
  border: 1px solid black;
}
